.czi-editor-frameset .molsp-dropbtn {
  background-color: #fff;
  border-color: #cec7c7;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  color: #5a615e;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  min-width: 160px;
  padding: 5px;
}

.czi-editor-frameset .molsp-stylenames {
  max-height: 205px;
  min-height: 30px;
  overflow: auto;
}

.czi-editor-frameset .molsp-dropdown-content {
  background-color: #f9f9f9;
  border-color: #cec7c7;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 8px 16px 0 rgba(26, 25, 25, 0.2);
  box-sizing: border-box;
  color: #5a615e;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  height: 95px;
  line-height: 0.75;
  width: max-content;
}

.czi-editor-frameset .molsp-dropdown-content a {
  display: block;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  text-decoration: none;
}

.czi-editor-frameset .molsp-dropdown-content a:hover {
  background-color: lightgrey;
}

#container1 {
  display: flex;
  justify-content: space-between;
  line-height: 2;
  width: 265px;
}

#container1>div {
  height: 30px;
}

#container1:hover {
  background-color: lightgrey;
}

.selectbackground {
  background-color: lightgrey;
}

.czi-editor-frameset .molsp-arrow-right {
  text-align: right;
  width: 30px;
}

.czi-editor-frameset .molsp-style-sampletext {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 105px;
}

.czi-editor-frameset .stylemenu-backgroundcolor {
  background-color: yellow;
} 

.czi-editor-frameset .tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.czi-editor-frameset .custom-tooltip {
  visibility: hidden; 
  opacity: 0;
  position: fixed;
  background-color: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 11;
  transition: opacity 0.3s;
  margin-top: 25px;
  margin-left: -20px;
}
  
.czi-editor-frameset .tooltip-wrapper:hover .custom-tooltip {
  visibility: visible;
  opacity: 1;
}
 
.czi-editor-frameset .tooltip-text {
  text-decoration: underline;
}

