.czi-editor-frameset .molsp-customedit-div {
  background: #e6e6e6;
  border-color: #4a4949;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box !important;
  color: white;
  font-family: 'Arial', sans-serif;
  height: 438px;
  overflow: hidden;
  position: relative;
  width: 510px;
}

.czi-editor-frameset .molsp-spacingdiv {
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  margin-left: -3px;
  padding: 5px;
  width: auto;
}

.czi-editor-frameset .molsp-spacingdiv label {
  color: #464343;
  font-size: 12px;
  margin-bottom: 4px;
  margin-left: -4px;
  margin-right: 0;
  margin-top: 4px;
}

.czi-editor-frameset .molsp-formp {
  color: #464343;
  font-size: 12px;
  margin-bottom: 2px;
  margin-left: -2px;
  margin-top: 2px;
  padding-bottom: 2px;
  padding-left: 0;
  padding-right: 9px;
  padding-top: 1px;
}

.czi-editor-frameset .molsp-linespacing {
  height: 22px;
  margin-left: -4px;
  width: 140px;
}

.czi-editor-frameset .molsp-spacinginput {
  box-sizing: content-box !important;
  font-family: inherit;
  font-size: 13px;
  line-height: unset;
  width: 19px;
}

.czi-editor-frameset .molsp-customedit-head {
  box-sizing: unset !important;
  color: #47adec;
  font-family: 'Arial', sans-serif;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 500;
  height: 27px;
  margin-left: 2px;
  padding: 5px;
  text-align: left;
}

.czi-editor-frameset .molsp-customedit-body {
  background: transparent;
  color: #464343;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto;
  line-height: 1.2 !important;
  margin-top: 3px;
  padding: 5px;
  padding-bottom: 0;
  padding-top: 1px;
}

.czi-editor-frameset label {
  color: black;
}

.czi-editor-frameset .molsp-stylenameinput {
  box-sizing: unset !important;
  color: black;
  font-family: inherit !important;
  height: 18px;
  line-height: unset;
  margin-bottom: 3px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 97%;
}

.czi-editor-frameset .molsp-sectiondiv {
  /* margin: 5px 0; */
  box-sizing: border-box;
  margin-left: 4px;
  padding-left: 2px;
  width: 240px;
}

.czi-editor-frameset .molsp-iconspan {
  margin-right: 10px;
  margin-top: 0;
}

.czi-editor-frameset .molsp-editorsection {
  box-sizing: border-box;
  padding-right: 5px;
}

.czi-editor-frameset .molsp-textareadiv {
  background: white;
  border-color: grey;
  border-image: initial;
  border-style: solid;
  border-width: 1px;
  box-sizing: unset !important;
  color: gray;
  cursor: text;
  flex-direction: column;
  font: 400 11px arial, sans-serif;
  margin: 0;
  margin-left: 0;
  margin-right: 20px;
  margin-top: 7px;
  overflow: auto;
  overflow-wrap: break-word;
  padding: 8px;
  padding-bottom: 6px;
  padding-right: 6px;
  -webkit-rtl-ordering: logical;
  white-space: pre-wrap;
  width: 95%;
}

.czi-editor-frameset .molsp-sampletext {
  color: gray;
}

.czi-editor-frameset .molsp-fontsize {
  box-sizing: border-box;
  height: 22px;
  margin-bottom: 4px;
  margin-left: 7px;
  margin-top: 8px;
  padding-bottom: 3px;
  padding-top: 2px;
  width: 50px;
}

.czi-editor-frameset .molsp-fonttype {
  box-sizing: border-box;
  height: 22px;
  margin-bottom: 3px;
  margin-left: -10px;
  margin-top: 7px;
  padding-bottom: 3px;
  padding-top: 2px;
  width: 153px;
}

.czi-editor-frameset .molsp-leveltype {
  box-sizing: border-box;
  height: 22px;
  margin-left: 0;
  padding-left: 2px;
  width: 83px;
}

/* .indenting {
  box-sizing: border-box;
  font-size: 13px;
  height: 22px;
  margin-left: 10px;
  padding-bottom: 2px;
  padding-left: 0;
  width: 186px;
} */

.czi-editor-frameset .molsp-btns {
  margin-bottom: 2px;
  margin-left: 28px;
  margin-right: 0;
  margin-top: 2px;
  padding-left: 4px;
  padding-right: 0;
  text-align: right;
}

.czi-editor-frameset .molsp-btnsave {
  margin-left: 8px;
  margin-right: 7px;
  margin-top: 2px;
  padding-left: 6px;
}


.czi-editor-frameset .molsp-visible-sampletext {
  color: black;
  display: block;
  margin-top: 1px;
  padding: 0;
}

.czi-editor-frameset .molsp-hide-sampletext {
  display: none;
}

.czi-editor-frameset .molsp-licit-accordion {
  background-color: #ccc;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: #444;
  cursor: pointer;
  font-size: 14px;
  height: 25px;
  outline: none !important;
  text-align: left;
  transition: 0.4s;
  width: 100%;
}

.czi-editor-frameset .molsp-licit-accordion::after {
  color: #777;
  content: '\002B';
  float: right;
  font-weight: bold;
  margin-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
}

.czi-editor-frameset .molsp-accactive::after {
  content: '\2212';
}

.czi-editor-frameset .molsp-panel,
.czi-editor-frameset .molsp-panel1,
.czi-editor-frameset .molsp-panel2,
.czi-editor-frameset .molsp-panel3 {
  background-color: transparent;
  box-sizing: border-box;
  margin-bottom: 10px;
  max-height: 0;
  overflow: hidden;
  padding-bottom: 0;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 0;
  transition: max-height 0.2s ease-out;
  width: auto;
}

.czi-editor-frameset .molsp-chknumbering {
  margin-left: 11px;
  margin-top: 2px;
  padding-top: 2px;
}

.czi-editor-frameset .molsp-chkboldnumbering {
  margin-left: 11px;
  margin-top: 2px;
  padding-top: 2px;
}

.czi-editor-frameset .molsp-czi-custom-buttons {
  margin-left: -8px;
  margin-right: 2px;
  padding-left: 4px;
  padding-right: 2px;
}

.czi-editor-frameset .molsp-font-buttons {
  margin-left: 0;
  margin-right: 2px;
  padding-left: 4px;
  padding-right: 2px;
}

.czi-editor-frameset .molsp-specifiedindent {
  margin-left: 10px;
  margin-top: -1px;
}

.czi-editor-frameset .molsp-alignbuttons {
  background-color: #f0f0f0;
  border-color: #555;
  outline: none;
  padding: 0;
  text-align: center;
  width: 50px;
  border-radius: 0px;
}

.czi-editor-frameset .molsp-alignbuttons:focus,
.czi-editor-frameset .molsp-alignbuttons:hover {
  background-color: #f0f0f0;
  border-color: #338eec;
  outline: none;
}

.czi-editor-frameset .molsp-activealignbuttons {
  border-color: #338eec !important;
  outline: none;
  padding: 0;
  text-align: center;
  width: 50px;
  border-radius: 0px;
}

.czi-editor-frameset .molsp-panel.hr {
  margin-bottom: 0;
  margin-top: 0;
}

.czi-editor-frameset .molsp-markbuttons {
  background: transparent;
}

.czi-editor-frameset .molsp-fontstyle {
  font-size: 13px;
}

.czi-editor-frameset .molsp-buttonstyle {
  border-radius: initial;
  font-size: 13px;
}

.czi-editor-frameset .molsp-hierarchydiv {
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  margin-left: -1px;
  padding: 5px;
  width: auto;
}

.czi-editor-frameset .molsp-hierarchydiv label {
  box-sizing: content-box !important;
  color: #464343;
  font-size: 12px;
  margin-bottom: 4px;
  margin-left: -4px;
  margin-right: 0;
  margin-top: 4px;
}

.czi-editor-frameset .molsp-indentdiv {
  display: inline-flex;
}

.czi-editor-frameset .molsp-settingsdiv {
  display: inline-flex;
  margin-left: -1px;
}

.czi-editor-frameset .molsp-markbutton-container {
  margin-left: 5px !important;
  /* margin-right: 5px !important; */
}

div[disabled='disabled'] {
  opacity: 0.4;
  pointer-events: none;
}