.czi-editor-frameset .molsp-dropbtn {
  background-color: #fff;
  border-color: #cec7c7;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  color: #5a615e;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  min-width: 160px;
  padding: 5px;
}

.czi-editor-frameset .molsp-dropbtn {
  background-color: var(--czi-bg);
  border-color: var(--czi-molsp-dropbtn-border-color);
  color: var(--czi-text-color);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}

.czi-editor-frameset .molsp-stylenames {
  max-height: 205px;
  min-height: 28px;
  overflow: auto;
}

.czi-editor-frameset .molsp-stylenames-hr {
  margin: 2px;
}

.czi-editor-frameset .molsp-dropdown-content {
  background-color: var(--czi-bg);
  border-color: var(--czi-molsp-dropbtn-border-color);
  color: var(--czi-text-color);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  height: 95px;
  line-height: 0.75;
  width: max-content;
}

.czi-editor-frameset .div-height-large {   
  height: 95px; 
}

.czi-editor-frameset .div-height-small {   
  height: 25px; 
}

.czi-editor-frameset .molsp-dropdown-content a {
  display: block;
  padding-bottom: 6px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 6px;
  text-decoration: none;
}

.czi-editor-frameset .molsp-dropdown-content a:hover {
  background-color: var(--czi-button-hover-background-color);
  border: 1px solid;
  border-radius: 6px;
}

#container1 {
  display: flex;
  justify-content: space-between;
  line-height: 1.6;
  width: 265px;
}

#container1>div {
  height: 22px;
  padding: 1px 4px;
}

#container1:hover {
  background-color: var(--czi-button-hover-background-color);
  border: 1px solid;
  border-radius: 6px;
}

.selectbackground {
  background-color: var(--czi-button-hover-background-color);
  border: 1px solid;
  border-radius: 6px;
}

.czi-editor-frameset .molsp-arrow-right {
  text-align: right;
  width: 30px;
}

.czi-editor-frameset .molsp-style-sampletext {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 105px;
}

.czi-editor-frameset .stylemenu-backgroundcolor {
  background-color: yellow;
}
